@(spells: Map[Int, Seq[Spell]], baseSpellUrl: String)(implicit request: MessagesRequestHeader)

@main("Character Sheet") {
    <h1>Spell Book</h1>

    @for(level <- spells.keys.toList.sorted) {
        @for(s <- spells(level)) {
            <div style="float: left; width: 20%; border: 1px solid #000000">
                Level: @level
            </div>
            <div style="float: left; width: 80%; border: 1px solid #000000;">
                <a href="@baseSpellUrl?name=@s.name"> @s.name</a>
            </div>
        }
    }

}