@(form: Form[CharacterSheet], postUrl: Call, getRandomName: Call)(implicit request: MessagesRequestHeader)

@main("Create a new Character") {
    <h1>Make a new Character</h1>

    @* Global errors are not tied to any particular form field *@
    @if(form.hasGlobalErrors) {
        @form.globalErrors.map { error: FormError =>
        <div>
            @error.key: @error.message
        </div>
        }
    }

    @helper.form(getRandomName) {
        @helper.CSRF.formField
        <table class="callout">
            <tr>
                <td align="Left">
                    @helper.inputText(form("name"))
                </td>
                <td>
                    <input type="submit" class="button noprint" value="Roll Name">
                </td>
            </tr>
        </table>
    }
}