@(form: Form[CharacterSheet], postUrl: Call)(implicit request: MessagesRequestHeader)

@main("Create a new Character") {
    <h1>Make a new Character</h1>

    @* Global errors are not tied to any particular form field *@
    @if(form.hasGlobalErrors) {
        @form.globalErrors.map { error: FormError =>
        <div>
            @error.key: @error.message
        </div>
        }
    }

    @helper.form(postUrl) {
        @helper.CSRF.formField

        @helper.inputText(form("name"))
        <button>Create Character</button>
    }
}