@()

@main("Create a new Spell") {
<h1>Make a new spell</h1>

<p>
    name: <input type="text" id="spellNameTextbox">
</p>
<p>
    range: <input type="text" id="spellRangeTextbox">
</p>
<p>
    cleric: <select name="clericSpellLevel" id="clericSpellLevel">
               <option value="None">None</option>
               <option value="1">1</option>
               <option value="2">2</option>
               <option value="3">3</option>
               <option value="4">4</option>
               <option value="5">5</option>
               <option value="6">6</option>
            </select>
</p>
<p>
    magic user: <select name="magicUserSpellLevel" id="magicUserSpellLevel">
    <option value="None">None</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
</select>
</p>
<p>
    duration: <input type="text" id="spellDurationTextbox">
</p>
<p>
    description: <textarea id="spellDescriptionTextbox" rows="4" cols="50"></textarea>
</p>

<p>
    <button id="saveSpellButton" onclick="@routes.SpellController.saveSpellButtonClicked">Save Spell</button>
</p>


}
