@(spells: Seq[Spell])(implicit request: MessagesRequestHeader)

@main("Spells") {
    <h1>Spells</h1>

    @* Flash shows updates to a page *@
    @request.flash.data.map{ case (name, value) =>
        <div>@name: @value</div>
    }

    @for(s <- spells) {
        <div style="float: left; width: 20%; border: 1px solid #000000;">
            Name:
        </div>
        <div style="float: left; width: 80%; border: 1px solid #000000;">
            @s.name
        </div>
        <div style="float: left; width: 20%; border: 1px solid #000000;">
            Range:
        </div>
        <div style="float: left; width: 80%; border: 1px solid #000000;">
            @s.range
        </div>
        <div style="float: left; width: 20%; border: 1px solid #000000;">
            Cleric:
        </div>
        <div style="float: left; width: 80%; border: 1px solid #000000;">
            @s.cleric.getOrElse("n/a")
        </div>
        <div style="float: left; width: 20%; border: 1px solid #000000;">
            Magic User:
        </div>
        <div style="float: left; width: 80%; border: 1px solid #000000;">
            @s.magicUser.getOrElse("n/a")
        </div>
        <div style="float: left; width: 20%; border: 1px solid #000000;">
            Duration:
        </div>
        <div style="float: left; width: 80%; border: 1px solid #000000;">
            @s.duration
        </div>
        <div style="float: left; width: 20%;">
            Description:
        </div>
        <div style="float: left; width: 80%; border: 1px solid #000000;">
            @s.description
        </div>
        <div style="float: left; width: 100%; border: 1px solid #000000;">
            <a href="http://localhost:9000/spells/create/">Edit Spell</a>
        </div>
        <div style="float: left; width: 100%; border: 1px solid #000000;">
            <hr>
        </div>
    }

}