@(form: Form[Spell], postUrl: Call)(implicit request: MessagesRequestHeader)

@main("Create a new Spell") {
<h1>Make a new spell</h1>

@* Global errors are not tied to any particular form field *@
@if(form.hasGlobalErrors) {
    @form.globalErrors.map { error: FormError =>
    <div>
        @error.key: @error.message
    </div>
    }
}

@helper.form(postUrl) {
@helper.CSRF.formField

@helper.inputText(form("name"))
@helper.inputText(form("range"))
@helper.inputText(form("cleric"))
@helper.inputText(form("magicUser"))
@helper.inputText(form("duration"))
@helper.textarea(form("description"))
@helper.inputText(form("alignment"))

<button>Create Spell</button>
}



}
